.logo {
    background-image: url('/public/asset 4.png');
    background-position: 0px 0px;
    background-size: 176px 258px;
    width: 175px;
    height: 51px;
    background-repeat: no-repeat;
    display: inline-block;

}